.index-post-content {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 60px;
}

.post {
    padding: 15px 0 5px;
    border-bottom: 1px solid #DDD;
    overflow-wrap: break-word;
}

.post-title {
    font-size: 1.6em;
}

.post-meta {
    padding-inline-start: 5px;
    line-height: 1;
    margin-top: -0.5em;
    color: #999;
    font-size: .92857em;
}

.post-meta li {
    display: inline-block;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #ddd;
}

.post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.post-content {
    line-height: 1.5;
}

.post .tags {
    clear: both;
}

.post-near {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    color: #999;
}

.post-near li {
    margin: 10px 0;
}

.post-content,
.comment-content {
    line-height: 1.2;
}

.post-content h2,
.comment-content h2 {
    font-size: 1.28571em;
}

.post-content img,
.comment-content img,
.post-content video,
.comment-content video {
    max-width: 100%;
}

.post-content a img,
.comment-content a img {
    background: #FFF;
    position: relative;
    bottom: -4px;
}

.post-content hr,
.comment-content hr {
    margin: 2em auto;
    width: 100px;
    border: 1px solid #E9E9E9;
    border-width: 2px 0 0 0;
}

.archive-title {
    margin: 1em 0 -1em;
    padding-top: 20px;
    color: #999;
    font-size: 1em;
}

.more {
    text-align: center;
}

.more a {
    border: none;
}

.protected .text {
    width: 50%;
}