#search {
    position: relative;
    height: 80px;
}

#search input {
    padding-right: 28px;
}

#search button {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 24px;
    height: 24px;
    background: transparent no-repeat center center;
    border: none;
    cursor: pointer;
}

#search button img {
    margin-top: -1px;
    margin-left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 2px);
}

@media (min-resolution: 192dpi) {
    #search button {
        background-size: 24px 24px;
    }
}